body {
    background-color: #4fb6ff;
    color: #ffffff;
    font-family: cursive;
    text-align: center;
}

.done {
    text-decoration: line-through;
}

.invalid-tooltip {
    position: initial;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #ced4da;
    padding-right: .75rem;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    background-image: none;
    padding-right: .75rem;
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border-color: #ced4da;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.toast {
    width: fit-content;
}

.valid-tooltip {
    background-color: white;
}

.input-group-text:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.btn-primary {
    background-color: #4fb6ff;
    border: #4597d9;
}
.btn-primary:hover {
    background-color: #4597d9;
    border-color: #4597d9;
}

.container {
    max-width: 100%;
    padding: 0;
    margin: auto;
}
td, th {
    max-width: 8rem;
    min-height: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (max-width: 1000px) {

    .table, thead, tbody, th, td {
        display: block;
    }
    thead {
        float: left;
    }
    tbody {
        overflow-x: auto;
    }
    tbody tr {
        display: table-cell;
    }
}




